swagger: "2.0"
info:
  version: "1.0.0"
  title: demoservice
host: localhost
basePath: /demoservice
schemes:
  - http
paths:
    /getHealth:
        get:
            tags:
             - Health Service
            summary: Checks if the test control unit is available
            operationId: getHealth_1
        responses:
            200:
               description: OK
   /getData:
        get:
            tags:
             - Data Service
            summary: return available data
            operationId: getData_1
        responses:
            200:
               description: OK
